* {
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    width: 1423px;
    height: 70px;
    border-bottom: 1px solid black;
    text-align: center;
}

.logo {
    background-color: white;
    font-size: 30px;
    width: 480px;
    line-height: 70px;
    font-weight: 900;
    color: limegreen;
}

.menu {
    width: 960px;
    height: 70px;
    display: flex;
    line-height: 70px;
}

.main {
    width: 1423px;
    height: 500px;
    display: flex;
}

.mainleft {
    width: 423px;
    height: 650px;
    background-color: lightcoral;
}

.mainright {
    width: 1300px;
    height: 650px;
    background-color: lightblue;
}
